/*------Fuente---------
#######################*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");


/*------ESTILOS UNIVERSALES----
#############################*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;   
}

/*#############################
-----------ESTILOS-------------
------DISPLAYS MOBILES---------
###############################*/


/*-----ESTILOS DEL BODY-------
##############################*/

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    max-width: 100vw;
    height: auto;
}


/*-----ESTILOS DEL HEADER-----
###############################*/

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.8rem 2.81rem 2.25rem;
    width:100%;
    max-width: 1110px;
    height: 5vh;
    margin: 0 auto;
}

.mobileOff{
    display: none;
}

.top i{
    color: #232851;
    font-size: 3rem;    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:#232851;
}

.logoimg{
    width: 1.75rem;
    padding: .5rem .5rem 0rem 0rem;
}


/*-------ESTILOS DEL MAIN-------
################################*/

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

/*-------Seccion Principal------
-------------------------------*/
.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;  
    max-width: 1110px;
    height: auto;
    margin: 0 auto;  
}
.principalSuperior{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10rem;
}
/*------Graficos--------*/
.graficos{
    max-width: 34.25rem;
    max-height: 32.8rem;
    padding: 0rem 3rem;
    width: 100%;
    order:1;
}

/*-----Parrafos--------*/
.parrafoPrincipal, .parrafoSecundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 34rem;
    width: 100%;
    text-align: center;
    padding: 0rem 1.25rem;
}

.parrafoPrincipal h2{
    font-size: 3.5rem;
    color: #232851;
    font-weight: 700;
    line-height: 3.5rem;
}

.parrafoPrincipal p, .parrafoSecundario p{
    font-weight: 500;
    padding: 1.75rem 3rem;
    line-height: 1.5rem;
}

.botonStarted, .botonStartedbot{
    border: none;
    background-color: #8B48BF;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 3.125rem;
    padding: 0.79rem 1.91rem;
    cursor: pointer;
}

.botonStarted:hover{
    background-color: #623485;
}
.principalInferior{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.parrafoSecundario{
    max-width: 32rem;
}

.parrafoSecundario h3{
    color: #232851;
    font-size: 2.25rem;
    font-weight: 700;
    padding: 0rem 1.5rem;
}
.parrafoSecundario p{
    padding: 2rem 1.75rem;
    margin-bottom: 6.43rem;
    
}

/*---------Tracks-------------*/

.lista{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 36.2rem;
    padding-left: 2.125rem;
}

.track{
    display: flex;
    flex-direction: column;   
}

.tracktitulo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    background-color: rgba(139, 72, 191, 0.3);
    border-radius: 1.875rem 0rem 0rem 1.875rem;
}
.track h4{
    padding-left: 2rem;
    text-align: center;
}

.numero{
    display: inline-block;
    color:#FFFFFF;
    width: 3.5rem;
    min-height: 2rem;
    height: auto;
    align-self: stretch;
    background-color:rgba(139, 72, 191, 1);
    border-radius: 1.875rem;
    text-align: center;
    padding: .5rem 0rem;
}

.descripcion{
    color:#B9B9C1;
    line-height: 1.56rem;
    padding:1.9rem 0rem 1.9rem;
    width: 90%;
    align-self: flex-start;
}


/*-------Seccion Said----------
-------------------------------*/
.said{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: auto;
    padding: 5.5rem 0rem;
}

/*-----Titulo de seccion Said------*/
.tituloSaid{
    color: #232851;
    font-size: 2.2rem;
    padding-bottom: 4rem;
    text-align: center;
    
}


/*------------Avatares-----------*/
.contenedorAvatares{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.avatarA, 
.avatarB, 
.avatarC{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FAFAFA;    
    text-align: center;
    color:#B9B9C1;
    max-width: 28rem;
    height: 14rem;
    margin: 4.65rem 0rem 2.8rem;    
}
.avatarB,
.avatarC{
    display: none;
}
.contenedorAvatares img{
    width: 7rem;
    align-self: center;
    margin-top: -3rem;
}

.contenedorAvatares h4{
    padding: 1.6rem 0rem .5rem;
    font-weight: 700;
    color:#232851;
    font-weight: 500;
}

.avatares p{
    line-height: 1.5rem;    
}



/*-------Seccion Simplify----------
-------------------------------*/

.simplify{
    background-color: #8B48BF;
    width: 100%;  
    margin-top: 6.4rem;
    
}
.contorno{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    height: auto;
    margin: 0 auto;
}

.simplify h2{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center; 
    padding: 2.5rem 4.5rem 2.75rem 4.5rem;
    width: 90%;
    max-width: 35rem;  
}


.botonStartedbot{
    color:#8B48BF;
    height: 2.5rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    background-size: 200%;
    background-image: linear-gradient(to left, #232851 50%, white 50% );
    background-position: left;
    transition: background-position .5s, color 1s;
    margin-bottom: 1rem;    
}

.botonStartedbot:hover{    
    background-position: right;
    color:#FFFFFF;
    box-shadow: 0rem 0.25rem 2rem rgba(255, 255, 255, 0.25);
}


/*-----ESTILOS DEL FOOTER-------
##############################*/
.bot{
    background-color: #1E1E26;
    max-width: 100vw;
    height: auto;
}
.final{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    color:#FFFFFF;
}

/*---------Formulario---------*/
.final form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin:  3.75rem 0rem 2.75rem;
    width: 100%;
    max-width: 30rem;
}

.final input{
    width: 19.25rem;
    height: 2.75rem;
    border-radius: 3.125rem;
    border: none;
    margin: .5rem;
}

.final input:focus{
    border: 4px solid #8B48BF ;
    box-shadow: 5px 5px 15px 15px rgba(51,51,51,0.9);
}

.final button{
    border: none;
    background-color: #8B48BF;
    color: #FFFFFF;
    border-radius: 3.125rem;
    padding: 0.9rem 1.4rem;
    cursor: pointer;
}
.final button:hover{
    background-color: #623485;
}

/*-----------Menu Footer----------*/
.listasBot{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
    padding: 0rem 4.875rem;
}
.listasBot ul{
    list-style: none;
}
.listasBot li{
    padding: 0.75rem;
}
.final a{
    text-decoration: none;
    color:#FFFFFF;
}
.final a:hover{
    color:#b9b9c1be;
}


/*-------Iconos Redes Sociales-------*/
.iconos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.75rem;
    width: 100%;   
    padding: 2.8rem 0rem;
}

.rsociales i{
    margin: 1.5rem;    
}
.logobot{
    margin-top: 2rem;
}
/*------Parrafo final-------------*/
.copyright{
    font-size: 0.8rem;
    color:#B9B9C1;
    padding: 2.75rem 0rem 2.5rem;
}





/*#############################
-----------ESTILOS-------------
------DISPLAYS DESKTOP---------
###############################*/

@media(min-width: 1440px){

    
    /*-----ESTILOS DEL HEADER-----
    ----------DESKTOP-------------
    ###############################*/

    .mobileOff{
        display: unset;
    }
    .top{
        padding: 4.8rem 0rem 2.25rem;
    }

    .top i{
    display: none;    
    }

    .menuDesk{
        display: flex;
        list-style: none;
    }
    .menuDesk a{
        text-decoration: none;
        font-size: .8rem;
        font-weight: 500;
        margin: 0rem .875rem; 
        color:#232851;
    }

    .menuDesk a:hover{
        color: #B9B9C1;
    }

    .top{
        padding-bottom: 7.125rem;
    }
    /*-------ESTILOS DEL MAIN-------
    ################################*/


    /*-------Seccion Principal------
    -------------------------------*/

    .principalSuperior{
        align-items: flex-end;
        justify-content: space-between;
    }
    .graficos{
        padding: 0rem;
        margin-bottom: 10rem;
    }
    /*-----Parrafos--------*/
    .parrafoPrincipal{
        padding: 6rem 0rem;
        text-align: left;
        align-items: flex-start;
    }   

    .parrafoPrincipal p{
        padding: 1.75rem 0rem;
        max-width: 25rem;
    }

    .principalInferior{
        justify-content: space-between;
    }

    .parrafoSecundario{
        align-items: flex-start;
        max-width: 23rem;
        text-align: left;
        padding: 0rem;
    }

    .parrafoSecundario p{
        padding: 2rem 0rem;
    }

    .parrafoSecundario h3{
        padding: 0rem 0rem;
    }


    /*---------Tracks-------------*/

    .tracktitulo{
    background-color: #FFFFFF;
    }
    .track h4{
        padding-left: 2rem;
        text-align: center;
    }

    .descripcion{
    padding:.5rem 0rem 1.9rem;
    width: 83%;
    align-self: flex-end;
}


/*-------Seccion Said----------
-------------------------------*/
.said{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: auto;
    padding: 5.5rem 0rem;
}

/*-----Titulo de seccion Said------*/
.tituloSaid{
    color: #232851;
    font-size: 2.2rem;
    padding-bottom: 4rem;
    text-align: center;
}


    /*------------Avatares-----------*/

    .avatarB,
    .avatarC{
        display:unset;
    }
    .avatarA{
        order:1;
    }
    .avatarB{
        order:0;
    }
    .avatarC{
        order:2;
}


/*-------Seccion Simplify----------
-------------------------------*/


.contorno{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.simplify h2{
    padding: 2.5rem 0rem 2.75rem;
    text-align: left;  
}



/*-----ESTILOS DEL FOOTER-------
##############################*/

.final{
    flex-direction:row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.25rem 0rem;
    height: 100%;
    
}

/*---------Formulario---------*/
.final form{
    margin:  0rem 0rem 0rem;
    width: 100%;
    max-width: 30rem;
    width: 25%;
    order: 0;
}

.final button:hover{
    background-color: #623485;
}

/*-----------Menu Footer----------*/
.listasBot{
    width: 40%;
    padding: 0rem;
    order: 1;
}

/*-------Iconos Redes Sociales-------*/
.iconos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.75rem;
    width: 25%;   
    height: 10rem;
    padding: 0rem 0rem;
    order:2;
    margin-top: 1rem;
}

.rsociales i{
    margin: .1rem;  
}

.rsociales{
    order: 1;
}
.logobot{
    margin: 0rem 0rem;
}
/*------Parrafo final-------------*/
.copyright{
    font-size: 0.8rem;
    color:#B9B9C1;
    padding: 0rem;
    order: 3;
    margin-top: -1rem;
}

}